doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Сенет
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
    body 
        main.main
            .display-container
                .map-container#mapMain
                .display-container__header#block2header Сенет
                .display-content-container
                    .mark-place#mapMarker
                .display-board#gameBoard 
                    img(src="./assets/images/content/board.png", alt="")
            .timeline-container
                .container 
                    .timeline-container__block#block1
                        .timeline-container__header Предисловие
                        .timeline-container__content Сенет – это игра с передвижением фишек по доске. Когда археологи впервые обнаружили её, а произошло это в конце ХХ века, то решили, что это древние шахматы или шашки. И действительно, сенет напоминает и то, и другое. 
                    .timeline-container__block#block2
                        .timeline-container__header Для чего?
                        .timeline-container__content Древние египтяне придавали этой игре особенное, религиозное значение. Сенет ассоциировался у них с путешествием по потустороннему миру. Оттого эту игру изображали на гробницах и даже клали в захоронение вместе с умершим. 
                    .timeline-container__block#block3
                        .timeline-container__header Распространение
                        .timeline-container__content В конце 4-го века до нашей эры конфликт двух царств становится неизбежным, и начинается история Египта как единого государства. Победил север (верхний Египет). Первым фараоном стал Намер, который основал “нулевую династию”. После некоторого периода смуты и окончания становления единого государства, под властью фараона Менеса начинается период “раннего царства”, около 3100 года до нашей эры.
                    .timeline-container__block#block4
                        .timeline-container__header Распространение
                        .timeline-container__content Следующие 1000 лет Египет процветал, развивалось сельское хозяйство, египтяне смогли построить единую ирригационную систему, процветали ремесла. Египет успешно воевал с соседями и боролся с кочевниками, развивалась торговля с другими народами. В этот период в Египте сменились 6 династий фараонов. 1-я и 2-я династии относятся к периоду “раннего царства”, 3-6 династии правили в период “древнего царства”. 
                    .timeline-container__block#block5
                        .timeline-container__header Как выглядела
                        .timeline-container__content В сенете в роли костей выступают палочки. Когда их подбрасывают, единица, двойка и тройка выпадают чаще прочих значений, согласно теории вероятности.Эта особенность вызывает ощущение, будто в партию все время вмешивается кто-то третий. Египтяне верили, что играют в сенет с богами. Игру клали в гробницы вместе с другими вещами умершего.
                    .timeline-container__block#block6
                        .timeline-container__header Как в нее играть?
                        .timeline-container__content Игроки проводят свои фишки по всей трассе от начальной позиции до последней — 30 клетки, в Дом Восходящего Солнца, надеясь на помощь богов за их поступки и удачное бросание костей.
                    .timeline-container__block#block7
                        .timeline-container__header Правила игры
                        .timeline-container__content У каждого игрока по 5 фишек, которые они ставят в пустом ряду, чередуя. Цель — первым увести свои фишки с доски, пройдя ими весь путь от начала до конца. Для удобства, на доске отмечено направление. Игроки кидают кости до тех пор, пока у кого-то из них не выпадет 1. Этот игрок и начинает ход. Через любые фишки можно перепрыгнуть, чтобы попасть на выбранную клетку поля. Но если две одинаковые фишки (свои или чужие), стоят рядом, то перепрыгнуть нельзя.
        script(src="./assets/js/jquery.min.js")            
        script(src="./assets/js/main.min.js")            